// COLOUR PALLETTE
$choozyPurple: #8a509f;

// FONTS
@import url('https://fonts.googleapis.com/css?family=Quicksand:700&display=swap');
$hdrFont: normal 700 2.5em/1.2em 'Quicksand', sans-serif;
$bodyFont: normal 300 1em/1.2em 'helvetica', sans-serif;
$smFont: normal 300 .8em/1.2em 'helvetica', sans-serif;

