@import "../../styles/_variables";

.header{
  padding: .5rem;
  border-bottom: 1px solid $choozyPurple;
}

.darkHeader{
    border-bottom: 1px solid white;
}
.darkHeader,
.darkHeader *{
    color: white;
}

.header,
.footer{
    text-align: center;
    width: 100%;
}

.footer{
    position: fixed;
    bottom: 0;
    padding: .25rem;
    font: $smFont;
}
.darkFooter,
.darkFooter *{
    color: white; 
}

.main{
    margin: 2rem auto;
    width: 80%;
    max-width: 1000px;
}