@import "../../styles/variables";

.tab{
    padding: .5rem 1rem;
    cursor: pointer;
    border: 1px solid white;
    border-radius: .5rem .5rem 0 0;
    transition: all .3s ease-in-out;

    border: 1px solid $choozyPurple;
    border-bottom: 0;

    *{
        color: $choozyPurple;
    }

    &:not(:last-child) {
        margin-right: .5rem;
    }

    &.active{
        background-color: $choozyPurple;
        color: white;
        border-bottom: 0;
        *{
            color: white;
        }
    }
}