@import "styles/_variables";

*,
body {
  margin: 0;
  font: $bodyFont;
  // box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: #333;
}

h1,h2,h3,h4,h5,
h1 *,h2 *,h3 *,h4 *,h5 *{
  font: $hdrFont;
  color: $choozyPurple;
  margin: 0;
}
h3, h4, h5,
h3 *, h4 *, h5 *{
  line-height: 1;
}

a{
  color: $choozyPurple;
}
a:visited{
  color: lighten($choozyPurple, 20%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.buttonSm{
  border-radius: 1rem;
  padding: 1rem;
  color: $choozyPurple;
  border: 1px solid $choozyPurple;
  font-weight: bold;
  font-size: 1.25 rem;
  cursor: pointer;
}

button:focus{
  // border: 3px solid $choozyPurple;
  outline: none;
}

