@import "styles/_variables";

body {
  margin: 0;
  font: $bodyFont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: #333;
}

h1,h2,h3,h4,h5{
  font: $hdrFont;
  color: $choozyPurple;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

